* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    font-family: 'Quicksand', sans-serif;;
}
.pad-5 {
    padding-block-start: 80px;
  }
  .brand {
    color: #c9ac08;
    letter-spacing: 3px;
  }
